<a href="https://colab.research.google.com/github/rashikas547/python_assingnment/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q.1.Explain the key features of Python that makes it a popular choicve for programming**

1. Python is simple & easy to understand programming language.
2. High-Level Language.
3. Interpreted Language.
4. Dynamically Typed Language.
5. GUI Programming Support
6. Widely used in Industry.
7. Object-Oriented Programming Language
8. Large Standard Library Support
9. Dynamic Memory Allocation
10. Database Support

**Q.2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program bold text**

Keywords in Python are reserved words that can not be used as a variable name, function name, or any other identifier.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
names = ['John','Monica','Steven','Robin']
for i in names:
    print('Hello '+i)

Hello John
Hello Monica
Hello Steven
Hello Robin

In [ ]:
x = 100
if x > 50:
    print("x is greater than 5")
elif x == 51:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

**Q.3.Compare and contrast mutable and immutable objects with example**

**Immutable** :-  
*  The identity of an immutable object cannot change, but new objects with the same values will have different identities.

*   Immutable objects are those whose state or contents cannot be changed once they are created.

 Immutable Types:
1. Integers
2. Floats
3. Strings
4. Tuples
5. Frozensets

In [ ]:
# Number
my_num = 10
# Attempting to alter the value of an integer results in the creation of a new object

# String
my_str = 'Hello, world!'
# Strings are also immutable. Any modification results in a new string object

# Tuple
my_tuple = (1, 2, 3)
# Tuples are immutable, but they can reference mutable objects

In [ ]:
my_num

10

**Mutable**
*  Mutable: Suitable for scenarios where you need to frequently update the data, such as maintaining a list of items in a shopping cart.
*   Mutations can change the object's identity (id()), but equality may remain the same if the values are the same

Mutable Types:
1.  Lists : Lists are mutable, meaning you can change their content by adding, removing, or modifying
2.  Dictionaries : Dictionaries are mutable, allowing changes to their key-value pairs.
3.  Sets : Sets are used to store multiple items in a single variable.

In [ ]:
# List
my_list = [1, 2, 3]
my_list[0] = 'a'  # The list now becomes ['a', 2, 3]

# Dictionary
my_dict = {'name': 'John', 'age': 30}
my_dict['age'] = 31  # The dictionary now becomes {'name': 'John', 'age': 31}

# Set
my_set = {1, 2, 3}
my_set.add(4)  # The set now becomes {1, 2, 3, 4}

In [ ]:
my_list

['a', 2, 3]

In [ ]:
my_dict

{'name': 'John', 'age': 31}

In [ ]:
my_set

{1, 2, 3, 4}

**Q4.Discuss the different types of operators and provide examples of how they are used**

In [ ]:
#Comparision Operator
# Equal to (==):
x = 10
y = 20
print( x == y)

# NotEqual to (!=):
print( x!= y)

# Greater than (>):
print( x > y)

# Less than (<):
print( x < y)

# Greater than or equal to (>=):
print( x >= y)

# Less than equal to (<=) :
print( x <= y)

False
True
False
True
False
True

In [ ]:
#Assignment Operator:
# Assignment (=):
x = 10
print(x)

# Add and assign (+=):
x = 20
x += 10
print(x)

# Subtract and assign (-=):
x =  20
x -= 10
print(x)

# Multiply and assign (*=):

x = 20
x *=10
print(x)

# Divide and assign (/=):

x = 20
x /=10
print(x)

# Floor divide and assign (//=):

x = 20
x //= 10
print(x)

# Modulus and assign (%=):
x = 20
x %= 10
print(x)

# Exponent and assign (**=):

x = 20
x **= 10
print(x)

10
30
10
200
2.0
2
0
10240000000000

In [ ]:
#Logical Operators
# Logical AND (and):
x = True
y = False
print(x and y)

# Logical OR (or):
x = True
y = False
print(x or y)

# Logical NOT (not):
x = True
print(not x )

False
True
False

In [ ]:
#Bitwise Operators
# Bitwise AND (&):
x = 20
y = 10
print(x & y)
bin(20)
bin(10)

# Bitwise OR (|):
print( x | y)

# Bitwise XOR (^):

print(x ^ y)

# Bitwise left shift (<<)
x = 20
print(x << 1)

# Bitwise right shift (>>)

x = 20
print(x >> 1)

0
30
30
40
10

In [ ]:
#Membership Operators(in)
x = 'ram'
print("m" in x)

# Not in :

y = "shyam"
print( "M" not in y)

True
True

**Q.5. Explain the concept of type casting in Python with example. **

Type casting in Python refers to the conversion of one data type into another. This is useful when we need to perform operations that require specific data types, or when we want to ensure consistency in data types. Type casting can be done in two ways:
1. implicit:Python converts the datatype into another datatype automatically. Users don’t have to involve in this process.
2. explicit:Python needs user involvement to convert the variable data type into the required data type.

In [ ]:
#explicit
# int variable
a = 5.9
# typecast to int
n = int(a)
print(n)
print(type(n))

5
<class 'int'>

In [ ]:
#implicit
a=10
b=7.0
d = a * b
print(d)
print(type(d))

70.0
<class 'float'>

**Q.6.How do conditional statements work in Python? Illustrate with examples**

Conditional statements in Python are fundamental building blocks for controlling the flow of our program's execution based on certain conditions. They allow we to make decisions and execute different code blocks depending on whether a condition is True or False.

In [ ]:
#if else statement
age = 19
if age >=18:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are eligible to vote

In [ ]:
#if elif else statement
day = "Tuesday"
if day == "Saturday":
  print("Enjoy your weekend!")
elif day == "Sunday":
  print("Relax on your day off!")
else:
  print("Back to work!")

Back to work!

In [ ]:
# nested if statement
score = 85
has_bonus = True
if score >= 90:
  print("Excellent!")
elif score >= 80:
  if has_bonus:
    print("Great job! You get a bonus point.")
  else:
    print("Good work!")
else:
  print("Keep studying!")

Great job! You get a bonus point.

**Q.7.Describe the different types of loops in Python and their use cases with examples**

 Python, there are mainly two types of loops: for loop and while loop.

For Loop: A for loop is used for iterating over a sequence (such as a list, tuple, string, or range) or any iterable object.

1. When you know the number of iterations in advance or when you want to iterate over a predefined sequence.
2. When you want to perform a certain operation on each element of a sequence.

In [ ]:
#for loop
for x in range(6):
  print(x)

0
1
2
3
4
5

WHile Loop: A while loop is used to repeatedly execute a block of code as long as a specified condition is true.

1.  When the number of iterations is not known in advance or when you want to iterate until a certain condition is met.
2.   When you want to repeatedly execute a block of code based on a condition.

In [ ]:
#while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5